APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:FHhQFX7yo+5wbbG66IbrprawWFvhV1ILXicv77RJjlQ=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=pg-core
DB_USERNAME=postgres
DB_PASSWORD=root

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

# TSE
CIVIL_REGISTRY_API_URL=https://tse.apifycr.com/api/v2
CIVIL_REGISTRY_API_TOKEN=68|qy5myeOyooEDQqWrHCT4QdLntBe3yMyItjS2qEGX85c88b9f

# Gemini
GEMINI_ENABLED=true
GEMINI_API_KEY=
GEMINI_BASE_URL=https://generativelanguage.googleapis.com
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_TIMEOUT=30
