APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:GeqZXEy4FUExRsKGxPIOcwdn/C1sbztmWZo+qigYVOE=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=core
DB_USERNAME=postgres
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

# TSE
CIVIL_REGISTRY_API_URL=https://tse.apifycr.com/api/v2
CIVIL_REGISTRY_API_TOKEN=105|k3n2GqfbOcSzzIqq7dKtoClKbm7O09dZ1UiC4OYr0f2debd2

# GEMINI
GEMINI_ENABLED=true
GEMINI_API_KEY=AQ.Ab8RN6J0FyfMHS4zCA-qK9_GDlgBTAWv6WpvEfXJEb_AaaqLBw
GEMINI_BASE_URL=https://generativelanguage.googleapis.com
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_TIMEOUT=30

# AWS
AWS_ACCESS_KEY_ID=AKIA6OPWUBRUPD72UMNE
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-east-2
AWS_BUCKET=monkey-core-bucket
AWS_USE_PATH_STYLE_ENDPOINT=false

# BANCO CENTRAL
BCCR_EMAIL=
BCCR_NAME=CORE
BCCR_TIMEZONE=America/Costa_Rica
BCCR_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJCQ0NSLVNEREUiLCJzdWIiOiJtZUBnaWxiZXJ0aHJvamFzLmNvbSIsImF1ZCI6IlNEREUtU2l0aW9FeHRlcm5vIiwiZXhwIjoyNTM0MDIzMDA4MDAsIm5iZiI6MTc4ODA1NjM5NiwiaWF0IjoxNzg4MDU2Mzk2LCJqdGkiOiIzYzJiOThlOC05MzhkLTQ5MDgtOWY2MC1mOGE1MDhlNTlmOTMiLCJlbWFpbCI6Im1lQGdpbGJlcnRocm9qYXMuY29tIn0.qlodjhIzzXaTolCTzEspzPBnClndQtYtX55Btewc658
